@font-face{  
    font-family: 'martyric';
    src: url('martyric-webfont.woff') format('woff'),
         url('martyric-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('robotocondensed-regular-webfont.woff2') format('woff2'),
         url('robotocondensed-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'seasrn';
    src: url('seasrn__-webfont.woff2') format('woff2'),
         url('seasrn__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html{
    margin: 0;
    padding: 0;
}

.parallax0 {
    /* The image used */
  background-image: url(projet.png);

    /* Set a specific height */
    min-height: 850px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin: 0;
    padding: 0;
  }

.parallax {
    /* The image used */
  background-image: url(siteprefo.png);

    /* Set a specific height */
    min-height: 780px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin: 0;
    padding: 0;
  }

  .parallax1 {
    /* The image used */
background-image: url(travaildinte.jpg);

    /* Set a specific height */
    min-height: 2000px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin: 0;
    padding: 0;
  }

  .prefo{
    font-family: 'seasrn';
    -webkit-text-stroke: 2px; /* grandeur du contour de la typo */
    -webkit-text-stroke-color: rgb(58, 87, 248); /* couleur du contour de la typo */
    color: gold; /* couleur de la typo */
    text-align: center;
    padding-top: 10px;
  }

  .ti{
    font-family: 'seasrn';
    text-align: center;
    padding-top: 10px;
    padding-bottom: 0;
  }